/* UI */
.usuario {
  display: flex;
  flex-direction: row;
}
.info_usuario {
  margin-top: 5%;
  margin-left: 5%;
}
.foto_usuario_conteudo {
  height: 200px;
  margin-top: 5%;
}
p {
  font-weight: bold;
}
.card- {
  margin-right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 1;
}
.card-txt {
  font-size: 18px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 1;
}
p {
  margin-bottom: 0%;
}
.acoes {
  margin-top: 5%;
  display: flex;
  justify-content: flex-start;
}
/*Responsividade*/
/* xl */
@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
}
/* lg */
@media (max-width: 1024px) {
  .card- {
    flex-shrink: 1;
    width: 100%;
  }
  .card-txt {
    flex-shrink: 1;
  }
}

/* md */
@media (max-width: 768px) {
  .card- {
    flex-shrink: 1;
  }
  .card-txt {
    flex-shrink: 1;
  }
}

/* sm */
@media (max-width: 640px) {
  .editar-button {
    width: 85px;
    font-size: 12px;
  }
  .card- {
    flex-shrink: 1;
  }
  .card-txt {
    flex-shrink: 1;
  }
}

/* xs */
@media (max-width: 475px) {
  .usuario {
    flex-direction: row;
    padding-bottom: 10%;
  }
  .foto_usuario_conteudo {
    height: 2%;
    width: 100px;
  }
  .editar-button img {
    height: 30px;
    width: 30px;
  }
  .card- {
    flex-shrink: 1;
    height: 90px;
  }
  .card-txt {
    flex-shrink: 1;
    font-size: 12px;
  }
  b {
    font-size: 12px;
  }
}
@media (max-width: 325px) {
  .foto_usuario_conteudo {
    height: 2%;
    width: 80px;
  }
}
