.editar-button {
  display: flex;
  background-color: var(--purple);
  color: var(--white);
  font-weight: 600;
  font-size: 1.15em;
  padding-block: 0.1em;
  padding-left: 0.6em;
  padding-right: 1.2em;
  border-radius: 0.75em;
  line-height: 2.5;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  width: fit-content;
}
.img-menor,
.novo-pet {
  border-radius: 100rem;
  aspect-ratio: 1 / 1;
  height: 5em;
  object-fit: cover;
}
.img-maior {
  border-radius: 100rem;
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
}
.novo-pet {
  height: 3em;
}
.button-pet {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.5em;
  font-weight: 700;
}
.content-pet {
  display: flex;
  width: 100%;
  gap: 4%;
}
.dados-pet,
.meus-pets {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 48%;
}
.img-pet {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.25em;
  font-weight: 700;
  gap: 0.5em;
  padding-right: 4rem;
}
.cadastrar-pet {
  font-size: 0.9em;
  font-weight: 700;
  color: var(--purple);
}
.dados-pet {
  align-items: center;
}
.linha-info {
  display: flex;
  justify-content: space-between;
}
.info-meus-pets {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  width: 48%;
}
b {
  color: var(--gray-black);
  font-size: 1.5em;
  font-weight: 800;
}
.linha-info p {
  color: var(--gray-black);
  font-size: 1.5em;
  text-align: right;
}
@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
}
/* lg */
@media (max-width: 1024px) {
}

/* md */
@media (max-width: 768px) {
  .titulo {
    text-align: center;
  }
  .content-pet {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3rem;
  }
  .dados-pet,
  .meus-pets {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

/* sm */
@media (max-width: 640px) {
}

/* xs */
@media (max-width: 475px) {
}
