/****UNIDADES****/
.mb-3 {
    border:0;
    border-radius: 15px;
    box-shadow: 0px 5px 7px 0px var(--shadow);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.container__unidades{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3rem;
}
.titulo{
    color: var(--purple);
    text-align: center;
    font-family: Inter;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.img-fluid {
    border-radius: 15px;
    width: 100%;
    height: 14rem;
}
.row{
    display: flex;
    justify-content: space-between;
}
.col-md-8{
    text-align: left;
    display: inline-block;
    width: 60%;
}
.col-md-4{
    width: 40%;
    height: fit-content;
    padding: 0%;
    margin: 0;
}
.card-title{
    color: #574DBD;
    font-family: Inter;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.card-text{
    color: #434343;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
}
.texto2{
    color: rgb(94, 194, 94);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}
.main{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/*Responsividade*/

/* xl */
@media (max-width: 1536px){

}
@media (max-width: 1280px) {

  }
  
  /* lg */
  @media (max-width: 1024px) {

  }
  
  /* md */
  @media (max-width: 768px) {
    .g-0{
        flex-direction: column;
    }
    .col-md-8{
        text-align: center;
        width: 100%;
    }
    .col-md-4{
        width: 100%;
        height: fit-content;
        padding: 0%;
        margin: 0;
    }
  }
  
  /* sm */
  @media (max-width: 640px) {
  }
  /* xs */
  @media (max-width: 475px) {

  }