@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
}
/* lg */
@media (max-width: 1024px) {
}

/* md */
@media (max-width: 768px) {
}

/* sm */
@media (max-width: 640px) {
}

/* xs */
@media (max-width: 475px) {
}

/* AGENDAR CONSULTA */

b {
    font-size: 0.8em;
    font-weight: 700;
}
span {
    font-size: 1.2em;
    font-weight: 600;
}
.selecionado img {
    border: 0.5rem solid var(--purple);
}
.selecionado {
    color: var(--purple)
}
.img-menor,
.novo-pet {
  border-radius: 100rem;
  aspect-ratio: 1 / 1;
  height: 5em;
  object-fit: cover;
}
.novo-pet {
  height: 3em;
}
.pets {
  margin-block: 3%;
}
.meus-pets {
  display: flex;
  margin-block: 2%;
  gap: 2em;
  width: 100%;
}
.button-pet {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  font-size: 1.5em;
  font-weight: 700;
}
.button-cadastrar {
  display: flex;
  flex-direction: row;
}
.button-cadastrar img{
  height: 3rem;
}
.cadastrar-pet {
  font-size: 0.9em;
  font-weight: 700;
  color: var(--purple);
} 
.form__agendar_pet {
  font-size: 1.35em;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4%;
}
input[type="text"],
input[type="date"],
input[type="number"],
select {
width: 100%;
}
.form-input {
width: 48%;
display: flex;
flex-direction: column;
gap: 0.35em;
margin-bottom: 1em;
}
.form-input br {
display: none;
}
.button-wrapper {
width: 100%;
display: flex;
align-items: center;
justify-content: center;
gap: 2rem;
}
.radio-group {
padding: 0.5rem 0rem;
display: flex;
gap: 1em;
}
.radio-div {
display: flex;
gap: 0.5em;
align-items: center;
}
.button-wrapper .botao {
padding: 0.3em 1em;
width: 10rem;
}
.desativado label {
color: #919191;
}
.desativado input {
color: #f3f3f3;
background-color: #f3f3f3;
border-color: #ada4dd;
}
