/****SERVIÇOS****/
.top {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 5rem;
}
.bottom {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
strong {
  font-size: var(--size-2x);
  text-align: center;
}
.linha_servicos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3%;
  justify-content: center;
}
.card-servicos {
  border-radius: 1rem;
  width: 30%;
  aspect-ratio: 1 / 1;
  box-shadow: 0px 20px 24px -4px rgba(0, 0, 0, 0.1),
    0px 8px 8px -4px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2.5em;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin-top: 1rem;
}

.img-card img {
  height: 8rem;
}
.card-texto {
  height: 8rem;
}

/*Responsividade*/

/* xl */
@media (max-width: 1536px) {
  .card-servicos {
    padding: 1em;
  }
  .card-texto {
    height: 12rem;
  }
}

@media (max-width: 1280px) {
  strong {
    font-size: var(--size-lg);
  }
  .linha_servicos {
    gap: 2%;
  }
  .card-servicos {
    width: 32%;
    padding: 1em;
  }
  .img-card img {
    height: 7rem;
  }
  .card-texto {
    height: 9rem;
  }
}

/* lg */
@media (max-width: 1024px) {
  strong {
    font-size: var(--size-base);
  }
  .bottom {
    gap: 1em;
  }
  .img-card img {
    height: 5rem;
  }
  .card-servicos {
    width: 32.6%;
    gap: 0.5em;
    padding: 0.5em;
    margin-top: 0.5rem;
  }
  .card-texto {
    height: 10rem;
  }
  .linha_servicos {
    gap: 1%;
  }
}

/* md */
@media (max-width: 768px) {
  strong {
    font-size: var(--size-lg);
  }
  .img-card img {
    height: 5rem;
  }
  .card-servicos {
    width: 48%;
    padding: 1.5em;
    margin-top: 1rem;
  }
  .linha_servicos {
    gap: 4%;
  }
}

/* sm */
@media (max-width: 640px) {
}
/* xs */
@media (max-width: 475px) {
}
