/****SOBRE NOS****/
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  gap: 1rem;
}
.texto__sobrenos {
  text-indent: 2em;
  text-align: justify;
  max-width: 70ch;
  margin-inline: auto;
  padding-left: 2ch;
  padding-right: 2ch;
}
/* BOOTSTRAP */

.titulo {
  text-align: center;
}
.container {
  flex-shrink: 0;
}

.span {
  color: var(--purple);
  font-weight: 750;
}
.rounded {
  width: 10rem;
  height: 10rem;
}
.history-wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 150px 0 50px;
}
.history-wrapper:after {
  content: "";
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, #d9d9d9 0%, #695ed9 100%);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}
.history-wrapper .title-wrap {
  opacity: 0.2;
  padding: 100px 0 0 45px;
}
.history-wrapper .timeline-box {
  position: relative;
}
.one-of-two {
  width: 50%;
  float: left;
}
.history-wrapper .timeline-box:not(:last-child) {
  margin-bottom: 140px;
}
.timeline-box:nth-child(2n) {
  padding: 0 0 0 140px;
}
.history-wrapper .timeline-box:nth-child(2n) {
  margin-bottom: 140px;
}
.history-wrapper .timeline-box:nth-child(2n + 1) {
  margin-top: -24%;
  text-align: right;
}
.timeline-box:nth-child(2n + 1) {
  padding: 0 140px 0 0;
}
.year {
  width: 100px;
  height: fit-content;
  border-radius: 50%;
  position: absolute;
  background: #fff;
  top: 30%;
  transform: translateY(-50%);
  text-align: center;
  font-weight: 700;
}
.timeline-box:nth-child(2n) .year {
  left: 25px;
}
.timeline-box:nth-child(2n + 1) .year {
  right: 32px;
}

.timeline-box:nth-child(2n) .year:before {
  left: -8px;
  transform: rotate(45deg);
}
.timeline-box:nth-child(2n + 1) .year:before {
  right: -8px;
  transform: rotate(-135deg);
}
.timeline-box:after {
  content: "";
  width: 3px;
  height: 0;
  background: var(--purple);
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
.timeline-box:nth-child(2n):after {
  left: -1.5px;
}
.timeline-box:nth-child(2n + 1):after {
  right: -1.5px;
}
.timeline-box:hover:after {
  height: 97px;
}
.timeline-box:before {
  content: "";
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 5px solid #ededed;
  position: absolute;
  background: #fff;
  z-index: 2;
  top: 30%;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}
.timeline-box:nth-child(2n):before {
  left: -10.5px;
}
.timeline-box:nth-child(2n + 1):before {
  right: -10.5px;
}
.timeline-box:hover:before {
  border: 5px solid var(--purple);
}
.timeline-box img {
  height: 12rem;
  width: 12rem;
}
.timeline,
.container {
  height: fit-content;
}
.footer {
  margin-top: 0;
}
@media screen and (max-width: 1280px) {
  .year {
    width: 90px;
    height: 90px;
    line-height: 90px;
    font-size: inherit;
  }
}
@media screen and (max-width: 1024px) {
  .history-wrapper {
    padding: 30px 0 30px;
  }
  .history-wrapper .title-wrap {
    padding: 0;
    margin-bottom: 30px;
  }
  .title-wrap.one-of-two {
    width: 100%;
  }
  .history-wrapper:after {
    left: 0;
  }
  .history-wrapper .timeline-box:nth-child(2n) {
    padding: 0 0 0 140px;
  }
  .history-wrapper .timeline-box:not(:last-child) {
    margin-bottom: 40px;
  }
  .timeline-box.one-of-two,
  .timeline-box .img img {
    width: 100%;
  }
  .timeline-box img {
    height: 20rem;
    width: 20rem;
  }
  .one-of-two {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .history-wrapper .timeline-box:nth-child(2n + 1) {
    margin-top: 0;
    text-align: left;
  }
  .timeline-box:nth-child(2n + 1) .year {
    left: 32px;
  }
  .timeline-box:nth-child(2n + 1):before {
    left: -10.5px;
  }
  .timeline-box:nth-child(2n + 1) .year:before {
    left: -8px;
    transform: rotate(45deg);
  }
  .timeline-box:nth-child(2n + 1):after {
    left: -1.5px;
  }
  .history-wrapper .timeline-box:nth-child(2n + 1) {
    margin-top: 0;
    text-align: left;
  }
  .timeline-box:nth-child(2n + 1) {
    padding: 0 0 0 140px;
  }
}
@media screen and (max-width: 768px) {
  .history-wrapper:after,
  .year,
  .timeline-box:before {
    display: none;
  }
  .history-wrapper {
    padding: 0;
  }
  .history-wrapper .timeline-box:nth-child(2n),
  .history-wrapper .timeline-box:nth-child(2n + 1) {
    padding: 0 15px;
  }
  .history-wrapper .timeline-box:not(:last-child) {
    margin-bottom: 30px;
  }
  .timeline-box .content-timeline {
    text-align: center;
  }
  .timeline-box:nth-child(2n):after,
  .timeline-box:nth-child(2n + 1):after {
    display: none;
  }
}

.mb-1-6,
.my-1-6 {
  margin-bottom: 1.6rem;
}
@media screen and (max-width: 640px) {
  .history-wrapper,
  .timeline-box,
  .content-timeline,
  .text-time {
    width: fit-content;
  }
  .timeline-box img {
    height: 10rem;
    width: 10rem;
  }
}
/* xl */
@media (max-width: 1536px) {
  .main {
    width: 100% !important;
  }
  .content {
    margin-inline: auto;
  }
}

@media (max-width: 1536px) {
}
@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {
}

/* md */
@media (max-width: 768px) {
}

/* sm */
@media (max-width: 640px) {
}

/* xs */
@media (max-width: 475px) {
}
