.titulo {
  /*Titulo da página*/
  margin-bottom: 3rem;
}

img.animal {
  width: 300px;
  height: 200px;
  border-radius: 15px;
}

div.item {
  /*Div que mostra um animal para adoção*/
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

div.descricao {
  /*Div com a descrição do animal*/
  margin-left: 1.5rem;
  width: 27rem;
}

h5.titulo_item {
  /*Nome do animal*/
  color: #574dbd;
  font-weight: bold;
  font-size: 2.5rem;
}

p.descricao {
  /*Descrição do animal e do local onde ele está*/
  font-size: 1.3rem;
}

.botoes {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-left: 1rem;
}

/*Div do adotado que fica ao lado da descrição*/
.adotado {
  background-color: #4cb062;
  color: var(--white);
  font-weight: 600;
  font-size: 1.15em;
  padding-block: 0.1em;
  padding-left: 0.6em;
  padding-right: 1.2em;
  border-radius: 0.75em;
  line-height: 2.5;
  width: fit-content;
}

@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
}
/* lg */
@media (max-width: 1024px) {
}

/* md */
@media (max-width: 768px) {
}

/* sm */
@media (max-width: 640px) {
}

/* xs */
@media (max-width: 475px) {
}

/* ANÚNCIO DE ADOÇÃO */
span {
  font-size: 1.2em;
  font-weight: 600;
}
.top {
  margin-block: 3%;
}
.fotos {
  height: 150px;
  margin-block: 1%;

  display: flex;
  align-items: center;
  gap: 1rem;
}
.form__anunciar_pet {
  font-size: 1.35em;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4%;
}
input[type="text"],
input[type="date"],
input[type="number"],
select {
  width: 100%;
}
.form-input {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 0.35em;
  margin-bottom: 1em;
}
.form-input br {
  display: none;
}
.button-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.radio-group {
  padding: 0.5rem 0rem;
  display: flex;
  gap: 1em;
}
.radio-div {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.button-wrapper .botao {
  padding: 0.3em 1em;
  width: 10rem;
}
.desativado label {
  color: #919191;
}
.desativado input {
  color: #f3f3f3;
  background-color: #f3f3f3;
  border-color: #ada4dd;
}