/* MEUS PETS */
b {
  font-size: 0.8em;
  font-weight: 700;
}

.img-menor,
.novo-pet {
  border-radius: 100rem;
  aspect-ratio: 1 / 1;
  height: 5em;
  object-fit: cover;
}
.img-maior {
  border-radius: 100rem;
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
}
.novo-pet {
  height: 3em;
}
.button-pet {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.5em;
  font-weight: 700;
}
.content-pet {
  display: flex;
  width: 100%;
  gap: 4%;
}
.dados-pet,
.meus-pets {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 48%;
}
.img-pet {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.25em;
  font-weight: 700;
  gap: 0.5em;
  padding-inline: 2rem;
}
.cadastrar-pet {
  font-size: 0.9em;
  font-weight: 700;
  color: var(--purple);
}
.dados-pet {
  align-items: center;
}
.linha-info {
  display: flex;
  justify-content: space-between;
}
.info-meus-pets {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  width: 48%;
}
b {
  color: var(--gray-black);
  font-size: 1.5em;
  font-weight: 800;
}
.linha-info p {
  color: var(--gray-black);
  font-size: 1.5em;
  text-align: right;
}
.linha-info p:first-child {
  font-weight: 700;
}
@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
  .dados-pet .content-pet {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .content-pet .img-pet {
    padding-inline: 1rem;
    margin-bottom: 1em;
  }
  .info-meus-pets {
    width: 65%;
  }
}
/* lg */
@media (max-width: 1024px) {
}

/* md */
@media (max-width: 768px) {
  .titulo {
    text-align: center;
  }
  .content-pet {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
  }
  .content-pet .img-pet {
    margin-bottom: 0px;
  }
  .dados-pet,
  .meus-pets {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .button-pet {
    width: 50%;
  }
}

/* sm */
@media (max-width: 640px) {
}

/* xs */
@media (max-width: 475px) {
  .info-meus-pets,
  .button-pet,
  .img-pet {
    width: 75%;
  }
}

/* CADASTRAR PET */
.form__row {
  display: flex;
  gap: 2rem;
}
.foto_pet {
  height: 150px;
  margin-block: 3%;
}
