/****CSS GERAL****/


/*VARIAVEL DE COR*/
:root{ 
    --white: #fff;
    --fadedwhite: #dad5dc;
    --lgray: #787878;
    --purple: #574DBD;
    --purpleHover: #403898;
    --shadow:#00000040;
    --black:#000000;
    --beige: #F7EEE4;
    --gray:#434343;
    --light-gray: #F3F3F3;
    --red:#ff0808;
}
/*HEADER*/
.navbar{
    --bs-navbar-padding-y: 0rem;
    --bs-navbar-nav-link-padding-x: 1rem;
    --bs-navbar-active-color: var(--purple);
}
.navbar-nav{
    gap: 2rem;
}
.container-fluid{
    background-color: var(--purple);
    box-shadow: 0px 5px 7px 0px var(--shadow);
    height: 11rem;
    --bs-gutter-x: 23rem;
    padding-top: 2rem;
    align-items:center;
    z-index: 1;
    display: flex;
}
.container-fluid a{
    text-decoration: none;
    color: var(--fadedwhite);
    font-family: Inter;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.container-fluid a:hover{
    color: var(--beige);
}
.logo{
    width: 26vmax;
    padding: 0 0 0.5rem 0;
}
.dropdown-menu a{
    color: var(--gray);
}
.dropdown-menu a:hover{
    color: var(--purple);
}
/*FOOTER*/
.footer{
    margin-top: 5rem;
    justify-content: center;
}
.footer .div{
    flex-direction: column;
}
.footer li{
    list-style: none;
    padding: 0.3rem 0;
}
.footer .navbar-nav{
    gap: 0rem;
}
.footer .container-fluid{
    background-color: var(--purple);
    height: 24rem;
    box-shadow: 0px 5px 7px 0px var(--shadow);
    --bs-gutter-x: 23rem;
    padding-top: 2rem;
    padding-bottom: 0;
    align-items:flex-start;
    z-index: 1;
    display: flex;
    justify-content: center;
}
.footer .nav-link{
    color: var(--white);
}
.footer .div{
    width: 20vmax;
    display: flex;
    align-items: center;
}
.footer a {
    text-decoration: none;
    color: var(--white);
    font-family: Inter;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.footer .nav-itemt a {
    text-decoration: none;
    color: var(--white);
    font-family: Inter;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 1rem;
}
.footer .nav-item{
    padding: 0.5rem 0;
}
.fbottom .container-fluid{
    background-color: var(--white);
    box-shadow: 0px 5px 7px 0px #00000040;
    height: 3rem;
    --bs-gutter-x: 23rem;
    padding-top: 0;
    padding-bottom: 0;
    align-items:center;
    z-index: 0;
    display: flex;
    justify-content: center;
}
.copyr{
    color: var(--purple);
    font-family: Inter;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-decoration-line: underline;
    text-align: center;
}
.logof{
    width: 20vmax;
    padding: 2rem 0 1rem 0;
}
.rsocial{
    width: 2vmax;
}

/* FONTES */
@font-face { 
    font-family: Inter;
    src: url(Inter.ttf);
}
@font-face {
    font-family: Fredoka One;
    src: url(Fredoka.ttf);
}
/* RESPONSIVO*/
@media screen and (max-width: 425px) { /*Tamanho Mobile L*/
    .titulo{
        font-size: 2rem;
        padding-bottom: 2rem;
    }
    .imgaboutus{
        width: 90%;
    }
    .copyr{
        font-size: 0.8rem;
    }
    .container-fluid a{
        font-size: 1rem;
        flex-direction: column;
    }
    .navbottom .container-fluid{
        flex-direction: column;
        --bs-gutter-y: 1rem;
    }
    .navbottom .container-fluid a{
        font-size: 1.2rem;
    }
    .row{
        flex-direction: column;
        align-items: center;
    }
    .w-100 {
        width: 200%!important;
    }
    .lastposts .card{
        margin: 0;
    }
    .lastposts .card-title{
        font-size: 1.3rem;
    }
    .lastposts .card-body{
        font-size: 1.1rem;
        height: 5%;
    }
    
    .btn{
        margin: 2rem 0;
    }
    .text, .col-6, .col-md-auto{
        width: 100%;
        font-size: 1rem;
    }
    .text, .col, .col-6{
        padding: 0;
    }
    .lastposts .card, .col{
        width: 90%;   
    }
    .links ul{
        padding: 0rem;
    }
    
}
@media screen and (max-width: 777px) { /*Tamanho Tablet*/
    .logo{
        width: 90%;
        padding: 0 0 0.5rem 0;
    }
    .links{
        margin-right: auto;
        margin-left: auto;
    }
    .container-fluid{
        padding-right: 0;
        --bs-gutter-x: 3rem;
        text-align: center;
        flex-direction: column;
        padding-left: 0;
    }
    .lastposts .row{
        padding: 0;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        width: 100%;
    }
    .container{
        padding: 0 2rem;
    }
    .navbar-toggler{
        margin-bottom: 2rem;
    }
}
@media screen and (max-width: 1024px) { /*Tamanho Laptop 1024*/
    .footer .container-fluid{
        justify-content: center;
        flex-direction: column;
    }
    .logof{
        display: none;
    }
    
}
@media screen and (max-width: 1440px){ /*Tamanho Laptop 1440*/
    .container-fluid{
        background-color: var(--purple);
        height: 8.5rem;
        --bs-gutter-x: 16rem;
        padding-top: 2rem;
        align-items:center;
        z-index: 1;
        display: flex;
    }
    .container-fluid a{
        text-decoration: none;
        color: var(--fadedwhite);
        font-family: Inter;
        font-size: 1.3rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .navbar-nav{
        gap: 1rem;
    }
    .footer .container-fluid{
        height: 20rem;
    }
    .footer a {
        font-size: 1.3rem;
    }
    .footer .nav-itemt a {
        font-size: 2rem;
    }
    .copyr{
        font-size: 1.1rem;
    }
}