.tabEx {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.tabEx img.pet-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.form-inline {
  display: flex;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-group label {
  font-size: var(--size-lg);
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  padding: 5px;
  width: 200px;
  cursor: pointer;
  background-color: var(--white);
  border: solid 2px var(--purple);
  border-radius: 0.7em;
  padding: 0.4rem 0.75rem;
}
.card-container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.card {
  background-color: var(--white);
  border: solid 0.15rem var(--purple);
  border-radius: 1.5em;
  font-size: 0.9em;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  padding-block: 0.5em;
  padding-inline: 1.5em;
  align-items: center;
  width: 100%;
}
th {
  color: var(--purple);
  padding-bottom: 0.3em;
  text-transform: capitalize;
}
th:nth-child(1) {
  width: 100px;
}
th:nth-child(2) {
  width: 150px;
}
th:nth-child(3) {
  width: 150px;
}
th:nth-child(4) {
  width: 200px;
}
th:nth-child(5) {
  width: 100px;
}
td {
  vertical-align: top;
}
.card img {
  height: 100%;
}

.info {
  text-align: left;
}
.table-wrapper {
  padding-block: 1em;
  max-width: 100%;
  overflow-x: auto;
}

.card .arrow_faq {
  top: 1em;
}
.card .open_faq .arrow_faq {
  transform: rotate(90deg);
}
.card .summary {
  font-weight: inherit;
  font-size: 1em;
  color: inherit;
  padding-bottom: 0;
  cursor: pointer;
}
.card .open_faq .summary {
  padding-bottom: 0em;
}
.card strong {
  width: 20ch;
  flex-shrink: 0;
}
.card p {
  display: flex;
  width: 80%;
}
.card .colapse {
  display: flex;
  justify-content: space-between;
}
.card .botao-borda:hover {
  transform: translate(0, 0);
}
@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
}

@media (max-width: 475px) {
}
