/****ADOÇÃO****/
.title{
    color: var(--purple);
    text-align: center;
    font-family: Inter;
    font-size: 5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 4rem;
}
.side{
    display: flex;
    flex-direction: row ;
    gap: 3.5rem;
}
.pesquisa{
    width: 25vmax;
}
.info{
    width: fit-content;
    color: var(--white);
    text-align: justify;
    font-family: Inter;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0 1.5rem;
}
.pesquisa, .info{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vmax;
    border-radius: 0.7rem;
    background-color: var(--purple);
}
::placeholder { 
    color: var(--purple);    
    font-family: Inter; 
    font-size: 1.5vmax;  
    font-style: normal;   
    font-weight: 600;  
    line-height: normal;  
    opacity: 1;
}
.inputpesquisa{
    border-radius: 0.5rem;
    padding: 0.4rem 3rem;
    font-size: 1.3vmax;
}
.txt{
    height: 12rem;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 7vmax;
    margin-top: 5rem;
    gap: 4rem;
}
.linha {
    margin: 0;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.col{
    width: 26vmax;
}
.row{
    gap: 2rem;
}
.adocao{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.card{
    height:fit-content;
    box-shadow: 0px 5px 7px 0px var(--shadow);
    border-radius: 1.6rem;
    --bs-card-title-spacer-y: 1.5rem;
}
.card-body{
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
}
.card-text{
    color: var(--gray);
    font-family: Inter;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: justify;
    display: flex;
    justify-content: center;
}
.localizacao{
    width: 3vmax;
    height: 3vmax;
}
.text-body-secondary{
    color: var(--lgray);
    font-family: Inter;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    display: flex;
    justify-content: center;
}
.card-title{
    font-family: Inter;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
.card-title a{
    text-decoration: none;
    color: var(--purple);
}
.card-botao{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
}
.card-botao .botao{
    border: 0.5rem solid var(--purple);
    border-radius: 3rem;
    padding: 0 2rem;
    background-color: var(--purple);
    color: var(--white);
    text-align: center;
    font-family: Inter;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--white);
    border-radius: 2rem;
    width: 70vmax;
    margin: 0;
    padding-bottom: 5rem;
    flex-shrink: 0;
    box-shadow: 0px 5px 7px 0px var(--shadow);
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.galeria{
    width: 65%;
    margin: 4rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.petinfo{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
}
.petinfo, .petficha{
    width: 93%;
}
.petficha{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.petsex{
    width: 4vmax;
}
.together, .one {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: var(--gray);
    font-family: Inter;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
}
.infobody{
    border-bottom: 4px var(--purple) solid;
    font-size: 2.25rem;
    font-weight: 600;
}
.coluna{
    display: flex;
    flex-direction: column;
    width: 48%;
}
.one .coluna{
    width: 100%;
}
.foco, .foco img{
    width: 100%;
}
.foco{
    display: none;
}
.escolha{
    display: flex;
    justify-content: center;
    gap: 1%;
    width: 100%;
}
.imgescolha{
    width: 24%;
    background-color: var(--gray);
    border-radius: 0.5rem;
}
.imgescolha img{
    width: 100%;
    opacity: 0.5;
    border-radius: 0.5rem;
    border: 5px var(--gray) solid;
}
.cursor {
    cursor: pointer;
}
.active img, .imgescolha img:hover {
    opacity: 1;
    border-color: var(--purple);
}

/*Responsividade*/

@media screen and (max-width: 510px) { /*Tamanho Mobile L*/
    .title{
        font-size: 3rem;
        text-align: center;
    }
    .petficha .title{
        margin-top: 0;
    }
    .infotitle, .infobody{
        font-size: 1.5rem;
    }
    .escolha{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4%;
        width: 100%;
    }
    .imgescolha{
        width: 47%;
        margin-top: 0.8rem;
    }
    .imgescolha img{
        width: 100%;
    }
    .galeria{
        gap: 0;
    }
}

@media screen and (max-width: 777px) { /*Tamanho Tablet*/
    .box {
        width: 100%;
        box-shadow: none;
    }
}

@media screen and (max-width: 1024px) { /*Tamanho Laptop 1024*/
    .galeria{
        width: 95%;
    }

}
@media screen and (max-width: 1440px){ /*Tamanho Laptop 1440*/
    
}