/****SERVIÇOS****/
.servicos .titulo {
    margin: 5.25rem 0 5.44rem 0;
}
#servicos-especialidades {
    margin: 2.9rem auto 7.13rem auto;
}
.servicos-box {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: center;
    gap: 5rem;
}
.box{
    background-color: var(--white);
    border-radius: 1rem;
    width: 28rem;
    height: 28rem;
    flex-shrink: 0;
    box-shadow: 0px 5px 7px 0px var(--shadow);
}
.titulo{
    color: #574DBD;
    text-align: center;
    font-family: Inter;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.box .servicos-subtitle {
    color: var(--purple);
    text-align: center;
    font-family: Inter;
    font-size: 1.8rem;      
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 1.12rem ;
    padding-bottom: 0.5rem;
    padding-top: 0;
    margin: 0;
}
.container-servicos-img {
    text-align: center;
}
.servicos-img{
    width: 10rem;
    height: 10rem;
    margin-top: 1rem;
}
#vacina{
    width: 10rem;
    height: 10rem;
}
#pata{
    width: 7.0rem;
    height: 7.0rem;
}
#muleta{
    width: 8.5rem;
    height: 8.5rem;
}
#caminhada{
    width: 8rem;
    height: 8rem;
}
.card-text{
    color: #434343;
    text-align: center;
    font-family: Inter;
    font-size: 1.313rem;
    font-style: normal;
    font-weight: 700;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    line-height: normal;
}
.servicos-bottom {
    margin-bottom: 13.31rem;
}
.hr {
    border-top: 3px solid var(--purple);
    border-radius: 5px;
    width:75%;
    margin: 1.5rem 0 1.5rem 0;
  }
/*Responsividade*/

@media screen and (max-width: 425px) { /*Tamanho Mobile L*/
    .box {
        width: 18rem;
        height:fit-content;
        padding-bottom: 2rem;
        flex-shrink: 0;
        box-shadow: 0px 5px 7px 0px var(--shadow);
    }
    .titulo{
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 777px) { /*Tamanho Tablet*/


}

@media screen and (max-width: 1024px) { /*Tamanho Laptop 1024*/


}
@media screen and (max-width: 1440px){ /*Tamanho Laptop 1440*/
    
}
@media screen and (min-width: 2000px){ 
    .servicos-box{
        padding: 0 20rem;
    }
}