.titulo {
  /*Titulo da página*/
  margin-bottom: 0;
}
.animal {
  width: 14rem;
  object-fit: cover;
  aspect-ratio: 3 / 2;
  border-radius: 1em;
}

.item {
  /*Div que mostra um animal para adoção*/
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
  gap: 1em;
}

.descricao-pet {
  /*Div com a descrição do animal*/
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
.decricao {
  width: 100%;
}

.titulo_item {
  /*Nome do animal*/
  color: #574dbd;
  font-weight: bold;
  font-size: 1.6em;
}
.usuario {
  padding-top: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.fotoUsuario {
  height: 35px;
  width: 35px;
}
.botoes {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.botao-borda {
  width: fit-content;
}
.aprovar {
  display: flex;
  gap: 0.8em;
}
/*Div do adotado que fica ao lado da descrição*/
.adotado {
  background-color: var(--green);
  color: var(--white);
  font-weight: 600;
  border-style: solid;
  border-color: var(--green);
  border-width: 0.15rem;
  padding: 0.4em 0.9em;
  cursor: default;
  border-radius: 0.8em;
  transition: background-color 0.3s, transform 0.3s, border-color 0.3s;
}

.recusado {
  background-color: var(--red);
  color: var(--white);
  font-weight: 600;
  border-style: solid;
  border-color: var(--red);
  border-width: 0.15rem;
  padding: 0.4em 0.9em;
  cursor: default;
  border-radius: 0.8em;
  transition: background-color 0.3s, transform 0.3s, border-color 0.3s;
}
@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
  .animal {
    width: 15rem;
  }
}
/* lg */
@media (max-width: 1024px) {
  .animal {
    width: 10rem;
  }
}

/* md */
@media (max-width: 768px) {
  .item {
    /*Div que mostra um animal para adoção*/
    flex-direction: column;
  }
  .animal {
    width: 25rem;
  }
  .item > div {
    width: 60%;
  }
  .botoes {
    flex-direction: row;
    justify-content: center;
  }
}

/* sm */
@media (max-width: 640px) {
  .animal {
    width: 20rem;
  }
}

/* xs */
@media (max-width: 475px) {
  .item > div {
    width: 85%;
  }
  .animal {
    width: 80%;
  }
  .fotoUsuario {
    height: 30px;
    width: 30px;
  }
}

/* ANÚNCIO DE ADOÇÃO */
span {
  font-size: 1.2em;
  font-weight: 600;
}
.top {
  margin-block: 3%;
}
.fotos {
  margin-block: 1%;

  display: flex;
  align-items: center;
  gap: 1rem;
}
.fotos img {
  width: 15%;
}

/* sm */
@media (max-width: 640px) {
  .top {
    margin-inline: auto;
    width: 80%;
  }
  .fotos {
    flex-wrap: wrap;
    gap: 3%;
  }
  .fotos img {
    width: 30%;
    margin-bottom: 3%;
  }
}

/* xs */
@media (max-width: 475px) {
  .top {
    width: 100%;
  }
}
