.titulo {
  text-align: left;
  margin-bottom: 1em;
}
.bottom {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin-top: 2.5em;
}
.section-enviar {
  width: 33rem;
}
.form__login,
.content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
input:not(.check),
textarea {
  width: 100%;
}
.tel-icon {
  height: 1em;
  aspect-ratio: 1 / 1;
}

/* xl */
@media (max-width: 1536px) {
}
@media (max-width: 1280px) {
  .bottom {
    gap: 1.5rem;
  }
  .section-enviar {
    width: 27rem;
  }
}

/* lg */
@media (max-width: 1024px) {
}

/* md */
@media (max-width: 768px) {
  .bottom {
    flex-direction: column;
    gap: 1rem;
  }
  .titulo {
    text-align: center;
  }
  .section-telefone {
    text-align: center;
  }
  .section-enviar,
  .section-telefone {
    padding: 1.5em;
    justify-content: center;
    width: 100%;
  }
}

/* sm */
@media (max-width: 640px) {
}
/* xs */
@media (max-width: 475px) {
}
