b {
  font-size: 0.9em;
  font-weight: 700;
}
.editar-button {
  display: flex;
  background-color: var(--purple);
  color: var(--white);
  font-weight: 600;
  font-size: 1.15em;
  padding-block: 0.1em;
  padding-left: 0.6em;
  padding-right: 1.2em;
  border-radius: 0.75em;
  line-height: 2.5;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  width: fit-content;
}
.img-menor,
.novo-pet {
  border-radius: 100rem;
  aspect-ratio: 1 / 1;
  height: 7rem;
  object-fit: cover;
}
.novo-pet {
  height: 3rem;
}
.button-pet {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.5em;
  font-weight: 700;
}
.content-pet {
  display: flex;
}
.dados-pet,
.meus-pets {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.dados-pet {
  width: 60%;
}
.meus-pets {
  width: 40%;
}
@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
}
/* lg */
@media (max-width: 1024px) {
}

/* md */
@media (max-width: 768px) {
}

/* sm */
@media (max-width: 640px) {
}

/* xs */
@media (max-width: 475px) {
}
