/****CSS GERAL****/
/*VARIAVEL DE COR & FONTE*/
:root{ 
    --white: #fff;
    --light-gray: #F3F3F3;
    --gray:#434343;
    --grayblack: #232323;
    --shadow:#00000040;
    --purple: #574DBD;
    --purplehover: #403898;
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2x: 1.5rem;
    --size-3x: 1.875rem;
    --size-4x: 2.25rem;
    --size-5x: 3rem;
    --size-6x: 3.5rem;
    --size-7x: 4.5rem;
    --size-8x: 6rem;
    --size-9x: 8rem;
    --size-10x: 10rem;
}
@font-face { 
    font-family: Inter;
    src: url(Inter.ttf);
}
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: calc(1em + 0.5rem);
}
html::-webkit-scrollbar{
    width: 1vw;
}
html::-webkit-scrollbar-thumb{
    background-color: var(--purple);
    border-radius: 1rem;
}
html::-webkit-scrollbar-thumb:hover{
    background-color: var(--purplehover);
}
html::-webkit-scrollbar-track{
    background-color: var(--fadedwhite);
}
body{
    overflow-x: hidden;
    font-family: 'inter';
    color: var(--grayblack);
    font-weight: 500;
    font-size: var(--size-xl);
}

.botao-solido{
    background-color: var(--purple);
    color: var(--white);
    font-weight: 600;
    font-size: var(--size-xl);
    padding: 0.7em 1.2em;
    border-radius: 0.7em;
    transition: background-color 0.3s;
    &:hover{
        background-color: var(--purplehover);
    }
}
button{
    display: inline-block;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: none;
    background: none;
    cursor: pointer;
    color: inherit;
}
a{
    text-decoration: none;
    color: var(--white);
    display: inline-block;
    position: relative;
}
.a-under::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    transform-origin: center;
    transition: transform 0.25s ease-out;
}
.a-under:hover::after{
    transform: scaleX(1);
    transform-origin: center;
}
.link{
    text-decoration: none;
    font-weight: 600;
    color: var(--purple);
    display: inline-block;
    position: relative;
    font-size: var(--size-base);
    transition: color 0.3s;
    &:hover{
        color: var(--purplehover);
    }
}

.titulo{
    text-align: center;
    color: var(--purple);
    font-weight: 700;
    font-size: var(--size-5x);
}
.titulo-branco{
    color: var(--white);
}
strong{
    font-weight: 700;
    color: var(--purple);
}
.hr {
    border-top: 5px solid var(--purple);
    border-radius: 5px;
    width:75%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}
.hr-branco{
    border-top: 5px solid var(--white);
}
.hr-footer {
    border-top: 3px solid var(--white);
    border-radius: 5px;
    width:50%;
    margin-left: auto;
    margin-right: auto;
}
/*HEADER*/
.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /* border: solid 1px red; */
}
.header{  
    width: 100%;
    background-color: var(--purple);
    box-shadow: 0px 5px 7px 0px var(--shadow);
    z-index: 1;
}
.container__header{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--size-lg);
}
.menu__header{
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}
.logo__header, .login__header{
    height: 3.8rem;
}
.barra__header{
    display: none;
}
.dropdown__header{
    position: absolute;
    right: 0;
    top: 12.5rem;
    font-size: var(--size-2x);
    z-index: 10;
    list-style: none;
    height: 0;
    gap: 1em;
    width: 100vw;
    background: var(--purple);
    box-shadow: 0px 5px 7px 0px var(--shadow);
    display: none;
    overflow: hidden;
    transition: height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown__header.open{
    padding: 1rem 2rem;
    height: 18rem;
}

/*FOOTER*/

.footer{  
    position: relative;
    width: 100%;
    margin-top: 5rem;
    background-color: var(--purple);
    box-shadow: 0px 5px 7px 0px var(--shadow);
    display: flex;
    gap: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    flex-direction: column;
    z-index: 1;
}
.container__footer{
    display: flex;
    justify-content: center;
    color: var(--white);
    font-size: var(--size-base);
}
.section__footer{
    width: 50rem;
    display: flex;
}
.menu__footer{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 2em;
    padding: 0;
    margin-bottom: 0;
    list-style: none
}
.rede-social{
    height: 1.3em;
}
.logo-wrapper__footer{
    margin-left: auto;
    margin-right: auto;
}
.logo__footer{
    height: 3em;
}
/* FONTES */

/* xl */
@media (max-width: 1536px){
    .container {
        max-width: 1280px;
    }
}
@media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }
    .container__header{
        font-size: var(--size-xl);
    }
    .logo__header{
        height: 3em;
    }
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }
    .logo__header{
        height: 2.5em;
    }
    .container__header{
        font-size: var(--size-lg);
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .container {
      max-width: 640px;
    }
    .logo__header{
        height: 5em;
    }
    .container__header{
        flex-direction: column;
    }
    .menu__header{
        display: none;
    }
    .barra__header{
        display: block;
        color: var(--white);
        width: 3rem;
        height: 3rem;
    }
    .dropdown__header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }
  
  /* sm */
  @media (max-width: 640px) {
    .container {
      max-width: 475px;
    }
  }
  
  /* xs */
  @media (max-width: 475px) {
    .container {
      width: 100%;
    }
    .logo__header{
        height: 4em;
    }
    .dropdown__header{
        top: 11rem;
        font-size: var(--size-xl);
    }
  }