/****BLOG****/
.container__blog {
  display: flex;
  margin-top: 5rem;
}
.main {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.titulo__blog {
  display: flex;
  color: var(--purple);
  font-size: var(--size-6x);
  font-weight: 800;
}
.sidebar {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 8rem;
}
.pesquisa__sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--purple);
}
.input__pesquisa {
  width: 90%;
  height: 4rem;
  border: none;
  border-radius: 0.5rem;
  font-family: Inter;
  font-weight: 550;
  font-size: var(--size-2x);
}
::placeholder {
  color: var(--purple);
  font-family: Inter;
  font-size: var(--size-2x);
  font-weight: 600;
  opacity: 1;
}
.posts__sidebar {
  box-shadow: 0px 8px 8px 0px var(--shadow);
  font-size: var(--size-2x);
  color: var(--lgray);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 0.5rem;
}
.posts__sidebar a {
  color: var(--lgray);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.titulo__sidebar {
  font-size: var(--size-3x);
  color: var(--gray);
}
.linha__blog {
  display: flex;
  gap: 4rem;
}
.cartao__blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  border-radius: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 1em;
  width: 31.5rem;
  font-size: var(--size-2x);
  box-shadow: 0px 8px 8px 0px var(--shadow);
}
.cartao__imagem {
  width: 31.7rem;
  object-fit: contain;
}
.cartao__titulo {
  font-size: var(--size-3x);
  margin: 0;
  text-align: left;
  color: var(--purple);
  font-weight: 700;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.cartao_texto {
  text-align: justify;
  font-size: var(--size-2x);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.cartao__data {
  color: var(--lgray);
}

/*Responsividade*/

/* xl */
@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {
}

/* md */
@media (max-width: 768px) {
}

/* sm */
@media (max-width: 640px) {
}

/* xs */
@media (max-width: 475px) {
}
