/****SOBRE NÓS****/

/*CARROSSEL*/
.carousel-item a {
  display: block;
}
.container__titulo {
  margin-block: 3em;
}
.carousel-mobile {
  display: none;
}

.hero,
.ONGs,
.reviews,
.ultimosposts,
.FAQ {
  padding-block: 3rem;
}

.reviews,
.ultimosposts {
  background-color: var(--purple);
}
/* Hero */
.titulo-hero {
  text-align: left;
  font-weight: 800;
  letter-spacing: 3px;
  margin-bottom: 1.5rem;
}
.texto-hero {
  padding-inline: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.texto-hero p {
  text-indent: 1em;
  text-align: justify;
}
.container-hero {
  display: flex;
  padding-inline: 2rem;
  gap: 4%;
}
.texto-hero,
.img-hero {
  width: 48%;
}
.linha-hero {
  padding-block: 3rem;
  display: flex;
  justify-content: space-around;
}
.card-hero {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  width: 18%;
}
.card-hero img {
  width: 4.5rem;
}
.card-hero .link {
  font-size: 1em;
}
.card-hero p {
  text-align: justify;
  margin: 0;
}
.titulo-card-hero {
  font-size: 1.3em;
}
/* Reviews */

.titulo__reviews {
  color: var(--white);
  text-align: center;
  font-size: var(--size-7x);
  font-weight: 800;
  margin-bottom: 4.44rem;
}
.subtitulo__reviews {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.subtitulo-text__reviews {
  color: var(--white);
  font-size: var(--size-3x);
  font-weight: 700;
  text-align: center;
}
.linha__card {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.botao__reviews {
  text-align: center;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}
/* ONGS */
div.botoes_doacao{/*Aqueles botões de escolher ong, informe-se e faça uma doação*/
  display: flex;
  justify-content: center;
}

div.ajudar{/*Cada uma das opções dentro da div botoes_doacao*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

div.informe{
  margin: 0rem 3rem;
}

p.ajudar{ /*Texto de cada opção da div botoes-doacao*/
  color: var(--purple);
  font-weight: bold;
  font-size: 1.2rem;
}

div.ong{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

div.linha{
  background-color: var(--purple);
  width: 10rem;
  height: 1rem;
}

/*ULTIMOS POSTS*/

.cartao__ultimosposts {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 1rem;
  width: 25rem;
}
.cartao__imagem {
  width: 100%;
  border-radius: 1rem 1rem 0rem 0rem;
  object-fit: cover;
}
.cartao__conteudo {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-top: 1rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
}
.cartao__titulo {
  font-weight: 700;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.cartao_texto {
  font-size: var(--size-base);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/*FAQ*/

/*Responsividade*/

/* xl */
@media (max-width: 1536px) {
  .card-hero {
    width: 21%;
  }
}
@media (max-width: 1280px) {
  .cartao_texto {
    font-size: var(--size-sm);
  }
  .subtitulo-text__reviews {
    font-size: var(--size-2x);
  }
  .botao__sobrenos {
    gap: 1rem;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container-hero,
  .texto-hero {
    padding: 0;
  }
  .card-hero {
    width: 20%;
  }
  .cartao_texto {
    font-size: var(--size-xs);
  }
  .subtitulo-text__reviews {
    font-size: var(--size-xl);
  }
  .linha__card {
    gap: 1rem;
  }
  .cartao__conteudo {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
/* md */
@media (max-width: 768px) {
  .container-hero {
    flex-direction: column-reverse;
    align-items: center;
  }
  .texto-hero {
    width: 80%;
  }
  .img-hero {
    width: 60%;
    margin-bottom: 1rem;
  }
  .linha-hero {
    padding-inline: 3rem;
    gap: 2em;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card-hero {
    margin-bottom: 2em;
    width: 40%;
  }
  .subtitulo-text__reviews {
    font-size: var(--size-2x);
  }
  .linha__card {
    flex-wrap: wrap;
  }
  .cartao__ultimosposts {
    width: 15rem;
  }
  .botao__reviews {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .profcard {
    width: 50%;
  }
}
/* sm */
@media (max-width: 640px) {
  .hero,
  .ONGs,
  .reviews,
  .ultimosposts,
  .FAQ {
    padding-block: 2rem;
  }
  .cartao__ultimosposts {
    width: 13.5rem;
  }
  .carousel-mobile {
    display: block;
  }
  .carousel-desktop {
    display: none;
  }
}
/* xs */
@media (max-width: 475px) {
  .img-hero {
    width: 85%;
  }
  .titulo-hero {
    margin-bottom: 0.5rem;
  }
  .linha-hero {
    gap: 1em;
  }
  .card-hero {
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    width: 100%;
  }
  .card-hero a {
    text-align: center;
  }
  .subtitulo__reviews {
    gap: 1rem;
  }
  .cartao__ultimosposts {
    width: 90%;
  }
  .subtitulo-text__reviews {
    font-size: var(--size-lg);
  }
}
