.card-container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.titulo {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.card {
  background-color: var(--white);
  border: solid 0.15rem var(--purple);
  border-radius: 1.5em;
  display: flex;
  gap: 2rem;
  flex-direction: row;
  padding-block: 1em;
  padding-inline: 1.5em;
  align-items: center;
  width: 100%;
}
th {
  color: var(--purple);
  font-size: 1.2em;
  padding-bottom: 0.3em;
}
th:nth-child(1) {
  width: 25%;
}
th:nth-child(2) {
  width: 22%;
}
th:nth-child(3) {
  width: 18%;
}
th:nth-child(4) {
  width: 22%;
}
th:nth-child(5) {
  width: 13%;
}
.card img {
  height: 100%;
}
.info {
  text-align: left;
  width: 100%;
}
@media (max-width: 1536px) {
  .cards-cont {
    flex-shrink: 1;
  }
  .conteu {
    flex-shrink: 1;
  }
  .cont {
    flex-shrink: 1;
  }
  .card {
    flex-shrink: 1;
  }
  .meio {
    padding-right: 10px;
  }
}

@media (max-width: 1280px) {
}
/* lg */
@media (max-width: 1024px) {
  @media (max-width: 1024px) {
    .card {
      flex-direction: column;
      justify-content: center;
      padding: 1em;
      width: 100%;
    }
    .conteu {
      width: 100%;
    }

    .cont {
      flex-direction: column;
      width: 100%;
    }
    .txt {
      font-size: var(--size-base);
    }

    .txt,
    .info {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }

    .meio {
      padding-right: 0;
      text-align: center;
    }

    .txt p,
    .info p {
      text-align: left;
    }
  }
}

/* md */
@media (max-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
  }
}

/* sm */
@media (max-width: 650px) {
  .cont {
    display: flex;
    flex-direction: row;
  }

  .txt {
    font-size: var(--size-base);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .info {
    font-size: var(--size-sm);
    display: flex;
    flex-direction: column;
    padding-top: 0;
    gap: 10px;
  }
}

/* xs */
@media (max-width: 475px) {
}
