/****CONTATOS****/
body {
    font-family: Inter;
}
.titulo-page {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 3rem;
}
.titulo{
    color: var(--purple);
    font-family: Inter;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.box-consulta, .box-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 8rem;
    border-radius: 0.3125rem;
    background-color: var(--white);
    padding: 1rem;
    box-shadow: 0px 8px 8px 3px rgba(0, 0, 0, 0.25);
    margin: 6.06rem 0 5.37rem 0;
    text-decoration: none;
    width: 40rem;
}
.box {
    margin-left: 0.79rem;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
#box a {
    color: var(--purple);
    text-decoration: none;
}
#box-text a {
    color: var(--gray);
    text-decoration: none;
}
#box {
    color: var(--purple);
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#box-text {
    color: var(--gray);
    font-family: Inter;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
#email {
    width: 4.92644rem;
    height: 4.18rem;
    flex-shrink: 0;
}
#telefon {
    width: 4.17925rem;
    height: 4.187rem;
    flex-shrink: 0;
}
.grid {
    display: flex;
    gap: 6rem;
}
.msg{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    margin-left: 10%;
}
.fale{
    display: inline-block; 
}
.form-control{
    border-color: var(--purple);
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    width: 100%;
}
#exampleInputPassword1{
    padding: 20%;
}
#botao {
    display: inline-block;
    padding: 12px 24px;
    width: 100%;
    border: none;
    cursor: pointer;
    background-color: var(--purple);

    transition: 0.3s ease;
}
#botao:hover {
    background-color: var(--purpleHover); /*arrumar isso dps */
}
span, small {
    color: var(--gray);
}
span {
    font-family: Inter;
    font-size: 1.60rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#button {
    color: var(--white);
}
/*  INFORMAÇÃO */
.info {
    display: flex;
    flex-direction: column;
    width: 42rem;
}
.contact-form{
    width: 42rem;
}
#telefone, small {
    margin-bottom: 2rem;
}
#telefone {
    color: var(--purple);
    font-size: 3rem;
}
.info span {
    font-size: 2.25rem;
}
small {
    font-weight: 500;
    font-size: 1.90rem;
}
/*Responsividade*/

@media screen and (max-width: 425px) { /*Tamanho Mobile L*/


}

@media screen and (max-width: 777px) { /*Tamanho Tablet*/


}

@media screen and (max-width: 1024px) { /*Tamanho Laptop 1024*/


}
@media screen and (max-width: 1440px){ /*Tamanho Laptop 1440*/
    .titulo{
        font-size: 3.5rem;
    }
    .box-consulta, .box-info {
        width: 30rem;
    }
    #box {
        font-size: 1.5rem;
    }
    
}