/****CSS GERAL****/
/*VARIAVEL DE COR & FONTE*/
:root{ 
    --white: #fff;
    --fadedwhite: #dad5dc;
    --lgray: #787878;
    --purple: #574DBD;
    --purplehover: #403898;
    --shadow:#00000040;
    --black:#000000;
    --beige: #F7EEE4;
    --gray:#434343;
    --light-gray: #F3F3F3;
    --grayblack: #232323;
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2x: 1.5rem;
    --size-3x: 1.875rem;
    --size-4x: 2.25rem;
    --size-5x: 3rem;
    --size-6x: 3.5rem;
    --size-7x: 4.5rem;
    --size-8x: 6rem;
    --size-9x: 8rem;
    --size-10x: 10rem;
}
@font-face { 
    font-family: Inter;
    src: url(Inter.ttf);
}
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: calc(1em + 0.5rem);
}
html::-webkit-scrollbar{
    width: 1vw;
}
html::-webkit-scrollbar-thumb{
    background-color: var(--purple);
    border-radius: 1rem;
}
html::-webkit-scrollbar-thumb:hover{
    background-color: var(--purplehover);
}
html::-webkit-scrollbar-track{
    background-color: var(--fadedwhite);
}
body{
    overflow-x: hidden;
    font-family: 'inter';
    color: var(--gray);
    font-weight: 600;
    font-size: var(--size-base);
}
button{
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}
a{
    text-decoration: none;
    font-weight: 650;
    color: var(--white);
    display: inline-block;
    position: relative;
    transition: color 0.3s;
}
.a-under::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: center;
    transition: transform 0.25s ease-out;
}
.a-under:hover::after{
    transform: scaleX(1);
    transform-origin: center;
}
.hr {
    border-top: 3px solid var(--purple);
    border-radius: 5px;
    width:75%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}
/*HEADER*/
.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: solid 1px red;
}
.header{  
    width: 100%;
    background-color: var(--purple);
    box-shadow: 0px 5px 7px 0px var(--shadow);
    z-index: 1;
}
.container__header{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--size-2x);
}
.menu__header{
    display: flex;
    gap: 2em;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}
.logo__header{
    height: 4em;
}
.barra__header{
    display: none;
}
.dropdown__header{
    position: absolute;
    right: 0;
    top: 12.5rem;
    font-size: var(--size-2x);
    z-index: 10;
    list-style: none;
    height: 0;
    gap: 1em;
    width: 100vw;
    background: var(--purple);
    box-shadow: 0px 5px 7px 0px var(--shadow);
    display: none;
    overflow: hidden;
    transition: height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown__header.open{
    padding: 1rem 2rem;
    height: 18rem;
}

/*FOOTER*/

.footer{  
    position: relative;
    width: 100%;
    margin-top: 5rem;
    background-color: var(--purple);
    box-shadow: 0px 5px 7px 0px var(--shadow);
    z-index: 1;
}
.container__footer{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    font-size:var(--size-2x);
    color: var(--white);
}
.titulo__footer{
    font-size: var(--size-4x);
    font-weight: 700;
}
.section__footer{
    width: 25rem;
    display: flex;
}
.menu__footer{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}
.rede-social{
    height: 1.3em;
}
.logo-wrapper__footer{
    margin-left: auto;
    margin-right: auto;
}
.logo__footer{
    height: 10em;
    margin-top: 2rem;
}
.bottom-footer{  
    width: 100%;
    background-color: var(--white);
    z-index: 0;
}
.copyright{
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    color: var(--purple);
    text-align: center;
    font-size: var(--size-2x);
    font-weight: 700;
    text-decoration: underline;
}

/* FONTES */

/* xl */
@media (max-width: 1536px){
    .container {
        max-width: 1280px;
    }
}
@media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }
    .container__header, .copyright{
        font-size: var(--size-xl);
    }
    .logo__header{
        height: 3em;
    }
    .container__footer, .copyright{
        font-size: var(--size-2x);
    }
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }
    .logo__header{
        height: 2.5em;
    }
    .container__header, .copyright{
        font-size: var(--size-lg);
    }
    .container__footer{
        font-size: var(--size-xl);
    }
    .titulo__footer{
        font-size: var(--size-3x);
        font-weight: 700;
    }
    .section__footer{
        width: 20rem;
    }
    .logo__footer{
        height:10em;
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .container {
      max-width: 640px;
    }
    .logo__header{
        height: 5em;
    }
    .container__header{
        flex-direction: column;
    }
    .menu__header{
        display: none;
    }
    .barra__header{
        display: block;
        color: var(--white);
        width: 3rem;
        height: 3rem;
    }
    .dropdown__header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }
  
  /* sm */
  @media (max-width: 640px) {
    .container {
      max-width: 475px;
    }
    .logo__footer, .section-logo__footer{
        display: none;
    }
  }
  
  /* xs */
  @media (max-width: 475px) {
    .container {
      width: 100%;
    }
    .logo__header{
        height: 4em;
    }
    .dropdown__header{
        top: 11rem;
        font-size: var(--size-xl);
    }
  }