:root {
  --green: #4cb062;
}
.fechado {
--green: var(--red);
}
.container__unidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  gap: 4rem;
}
.cartao__unidades {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  border-radius: 1rem;
  gap: 1em;
  width: 85%;
  box-shadow: 0px 20px 24px -4px rgba(0, 0, 0, 0.1), 0px 8px 8px -4px rgba(0, 0, 0, 0.05);
}
.cartao-body {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 2rem;
  margin-top: 3.5em;
  margin-bottom: 3.5em;
}
.iframe {
  border-radius: 1rem;
  width: 50%;
}
.cartao-titulo {
  font-size: var(--size-2x);
  font-weight: 700;
}
.cartao-subtitulo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.texto-subtitulo {
  color: var(--green);
}
.status {
  width: 0.75em;
  height: 0.75em;
  background-color: var(--green);
  border-radius: 10rem;
}

/*Responsividade*/

/* xl */
@media (max-width: 1536px) {
}
@media (max-width: 1280px) {
  .cartao-titulo {
    font-size: var(--size-xl);
  }
}

/* lg */
@media (max-width: 1024px) {
  .cartao__unidades {
    width: 100%;
  }
  .cartao-titulo {
    font-size: var(--size-base);
  }
}

/* md */
@media (max-width: 768px) {
  .cartao__unidades {
    display: flex;
    flex-direction: column;
  }
  .iframe,
  .cartao-body {
    width: 100%;
  }
  .cartao-body {
    margin-bottom: 0.2rem;
    margin-top: 0.5rem;
    height: 25%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .iframe {
    height: 75%;
  }
  .cartao-titulo {
    font-size: var(--size-lg);
  }
}

/* sm */
@media (max-width: 640px) {
  .cartao-titulo {
    font-size: var(--size-base);
  }
}
/* xs */
@media (max-width: 475px) {
  .cartao-titulo {
    font-size: var(--size-sm);
  }
}
