/****ADOÇÃO****/








/*Responsividade*/

@media screen and (max-width: 425px) { /*Tamanho Mobile L*/


}

@media screen and (max-width: 777px) { /*Tamanho Tablet*/


}

@media screen and (max-width: 1024px) { /*Tamanho Laptop 1024*/


}
@media screen and (max-width: 1440px){ /*Tamanho Laptop 1440*/
    
}