/****SOBRE NOS****/
.sobrenos {
    font-family: Inter;
    font-style: normal;
    line-height: normal;
}
.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}
.titulo{
    color: var(--purple);
    font-family: Inter;
    font-size: 4.5rem;
    font-weight: 800;
    margin: 0rem 0 1.56rem 0;
    text-align: center;
}
span {
    color: var(--purple);
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}
.text {
    color: var(--gray);
    text-align: justify;
    font-size: 2rem;
    font-weight: 750;
    padding: 0 10rem;
    flex-shrink: 0;
    text-indent: 2rem;
}
.hr {
    border-top: 3px solid var(--purple);
    border-radius: 5px;
    width:75%;
    margin: 1.5rem 0 4.5rem 0;
}   
.timeline {
    position: relative;
    width: 70%;
    height: auto;
}
.timeline::after {
    content: '';
    width: 6px;
    height: 100%;
    background: linear-gradient(180deg, #D9D9D9 0%, #695ED9 100%);
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
}
.time {
    list-style: none;
}
.time .checkbox {
    width: 50%;
    height: auto;
    padding: 15px 20px;
    margin-bottom: 3rem;
}

/*Responsividade*/

@media screen and (max-width: 425px) { /*Tamanho Mobile L*/


}

@media screen and (max-width: 777px) { /*Tamanho Tablet*/


}

@media screen and (max-width: 1024px) { /*Tamanho Laptop 1024*/


}
@media screen and (max-width: 1440px){ /*Tamanho Laptop 1440*/
    .text{
        font-size: 1.5rem;
    }
}