body {
  background-image: url(../img/Agendamento/Fundo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.container__agendamento {
  margin-top: 5rem;
  padding-right: 17rem;
  padding-left: 17rem;
}
.form__agendamento {
  background-color: var(--white);
  border-radius: 1.5rem;
  padding: 5rem 5rem;
  display: flex;
  flex-direction: column;
}
.section-agendamento {
  display: flex;
  flex-direction: column;
}
.form__agendamento strong {
  margin-top: 2.5rem;
}
.form__agendamento label {
  margin-top: 1rem;
}
.row {
  display: flex;
  justify-content: space-between;
}
.row-section {
  display: flex;
  flex-direction: column;
  width: 49%;
}
.form__button {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.form__button .botao-solido {
  width: 30%;
}
/* xl */
@media (max-width: 1536px) {
}
@media (max-width: 1280px) {
  .titulo {
    font-size: var(--size-6x);
    text-align: center;
  }
  .subtitulo {
    font-size: var(--size-5x);
    text-align: center;
  }
}

/* lg */
@media (max-width: 1024px) {
}

/* md */
@media (max-width: 768px) {
  .box {
    box-shadow: none;
  }
}

/* sm */
@media (max-width: 640px) {
  .titulo,
  .subtitulo {
    font-size: var(--size-4x);
  }
  #margin {
    margin-top: 2rem;
  }
  span {
    font-size: var(--size-3x);
  }
  .span {
    font-size: var(--size-3x);
  }
  .section {
    width: 90%;
  }
  .margin {
    margin-bottom: 2rem;
  }
}
/* xs */
@media (max-width: 475px) {
}
