/* UI */
.usuario {
  display: flex;
  flex-direction: row;
  gap: 5%;
  margin-top: 2rem;
}

.nav-perfil {
  display: flex;
  flex-direction: column;
  width: 8em;
  align-items: center;
  text-align: center;
  transition: filter 0.3s;
  &:hover {
    filter: brightness(80%);
  }
}
.nav-perfil img {
  width: 7em;
}
.acoes {
  display: flex;
  gap: 2em;
}
.card-txt {
  margin-top: 0.5em;
}
strong {
  color: var(--grayblack);
  font-size: 1.2em;
  font-weight: 700;
}
.foto-edit {
  flex-direction: column;
}
.foto-edit ins {
  color: var(--purple);
  font-weight: 650;
}
.foto-edit-wrapper {
  width: 10em;
  position: relative;
}
.foto-usuario-label {
  width: 3.5em;
  height: 3.5em;
  background-color: var(--purple);
  border-radius: 10rem;
  padding: 0.6em;
  display: none;
  z-index: 10;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: background-color 0.3s;
  &:hover {
    cursor: pointer;
    background-color: var(--purplehover);
  }
}
.foto-usuario-label img {
  z-index: 9;
  aspect-ratio: 1 / 1;
  width: 100%;
}
.info_usuario {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}
.form-msg {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}
#resetarfoto {
  display: none;
}
.form__cadastro {
  display: none;
}
.nome-foto-usuario {
  display: none;
}
.usuario-edit .form__cadastro {
  display: flex;
}
.usuario-edit .info_usuario {
  display: none;
}
.usuario-edit .foto-usuario-label {
  display: block;
}
.usuario-edit #alterarsenha {
  display: none;
}
.usuario-edit #resetarfoto {
  display: block;
}
.usuario-edit .nome-foto-usuario {
  width: 20ch;
  font-size: 1em;
  font-weight: 500;
  display: block;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.sair-button {
  --purple: var(--red);
  --purplehover: var(--redhover);
  display: flex;
  align-items: center;
  gap: 0.25em;
}
.sair-button img {
  height: 1.3em;
}
/*Responsividade*/
/* xl */
@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
}
/* lg */
@media (max-width: 1024px) {
}

/* md */
@media (max-width: 768px) {
  .titulo {
    text-align: center;
    margin-bottom: 1rem;
  }
  .usuario {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .foto-edit-wrapper {
    width: 15em;
  }
  .info_usuario {
    flex-direction: column-reverse;
    gap: 1.5em;
    align-items: center;
  }
  .acoes {
    justify-content: center;
  }
}

/* sm */
@media (max-width: 640px) {
}

/* xs */
@media (max-width: 475px) {
  .acoes {
    gap: 0.75em;
  }
}
@media (max-width: 325px) {
}
