/****BLOG****/
.titulo {
  text-align: left;
  margin-block: 5rem;
}
.container-blog {
  padding-inline: 10rem;
}
.container__main {
  display: flex;
  gap: 5%;
}
strong {
  margin-bottom: 0.6em;
}
.sidebar-nav {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
.sidebar-button {
  display: flex;
  font-weight: 550;
  padding-block: 0.8em;
  padding-inline: 1em;
  border-radius: 0.7em;
  text-align: left;
  cursor: pointer;
}

.sidebar-button input {
  display: none;
}
.sidebar-button:has(:checked) {
  background-color: var(--purple);
  color: var(--white);
  font-weight: 600;
}
.section-nav-mobile {
  display: none;
}
.details {
  font-size: 0.9em;
  margin-inline: auto;
  width: 100%;
  position: relative;
  user-select: none;
}
.summary {
  font-weight: 700;
  font-size: 1.5em;
  color: var(--purple);
  padding-bottom: 1em;
  cursor: pointer;
}
.wrapper-faq {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-out;
}
.wrapper-faq .colapse {
  overflow: hidden;
}
.open_faq .wrapper-faq {
  grid-template-rows: 1fr;
}

.arrow_faq {
  pointer-events: none;
  aspect-ratio: 1/1;
  width: 2rem;
  position: absolute;
  right: 0;
  top: 0;
  stroke-width: 2px;
  transition: transform 0.3s;
}
.open_faq .summary {
  padding-bottom: 1.5em;
}

.open_faq .arrow_faq {
  transform: rotate(-90deg);
}
main {
  width: 75%;
}

.cartao__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75em;
  padding-block: 1em;
}
.cartao__imagem {
  width: 100%;
  height: 14.5em;
  border-radius: 1rem;
  object-fit: cover;
}
.cartao_texto {
  text-indent: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
b {
  font-size: 1.2em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.categorias {
  align-items: baseline;
}
.grid__blog {
  margin-top: 2.5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(20em - (2em * 2)), 1fr));
  gap: 2em;
}
/*Responsividade*/

/* xl */
@media (max-width: 1536px) {
  .container-blog {
    padding-inline: 2rem;
  }
}

@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {
  .titulo {
    margin-block: 3rem;
  }
  .container-blog {
    padding-inline: 0rem;
  }
  .grid__blog {
    gap: 1em;
  }
}

/* md */
@media (max-width: 768px) {
  .container__main {
    flex-direction: column;
  }
  main {
    width: auto;
  }
  .sidebar-nav {
    display: none;
  }
  .section-nav-mobile {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2em;
  }
  .nav-mobile {
    flex-direction: row;
    font-size: 1.25em;
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
  }
  .sidebar-button {
    min-width: 48%;
  }
}

/* sm */
@media (max-width: 640px) {
  .container-blog {
    padding-inline: 2rem;
  }
  .grid__blog {
    margin-top: 1em;
  }
}

/* xs */
@media (max-width: 475px) {
  .sidebar-button {
    min-width: 100%;
  }
}
