/****ADOÇÃO****/
.container__adocao {
  margin-top: 5rem;
}
strong {
  font-size: var(--size-2x);
}
.grid__adocao {
  padding-inline: 8em;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(20em - (2em * 2)), 1fr));
  gap: 1.5em;
}
.botao-solido {
  width: fit-content;
  font-size: var(--size-lg);
}
p {
  margin: 0;
}
.cartao__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 0.75em;
  padding-block: 1em;
}
.cartao__imagem {
  width: 100%;
  aspect-ratio: 5 / 4;
  border-radius: 1rem;
  object-fit: cover;
}
.cartao_texto {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/*Responsividade*/
/* xl */
@media (max-width: 1536px) {
}
@media (max-width: 1280px) {
  strong {
    font-size: var(--size-lg);
  }
  .botao-solido {
    font-size: var(--size-sm);
  }
}
/* lg */
@media (max-width: 1024px) {
  .grid__adocao {
    margin-top: 1.5rem;
  }
  strong {
    font-size: var(--size-base);
  }
  .botao-solido {
    font-size: var(--size-sm);
  }
}

/* md */
@media (max-width: 768px) {
  .grid__adocao {
    padding-inline: 4em;
  }
  strong {
    font-size: var(--size-lg);
  }
  .botao-solido {
    font-size: var(--size-base);
  }
}

/* sm */
@media (max-width: 640px) {
  strong {
    font-size: var(--size-xl);
  }
  .botao-solido {
    font-size: var(--size-lg);
  }
}
/* xs */
@media (max-width: 475px) {
  .grid__adocao {
    padding-inline: 2.4em;
  }
}
