b {
  color: var(--purple);
  font-size: 1.5em;
}
body {
  padding: 0;
}
.content,
.container {
  max-width: 1152px;
  margin-left: 0;
  padding-block: 1em;
  padding-inline: 1em;
}
.login__header:hover {
  transform: translate(0, 0);
}
.header-perfil {
  color: var(--grayblack);
  font-weight: 650;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0.9em;
  padding-block: 2rem;
}
.header-perfil a,
.header-mobile a {
  height: fit-content;
}
.linha,
.linha-links {
  display: flex;
  align-items: center;
  gap: 1.1em;
  font-size: 1.05em;
}
.linha-links {
  color: var(--purple);
}
.linha a {
  height: fit-content;
}
.container-usuario {
  font-size: 0.9em;
  width: 100vw;
  display: flex;
  padding: 0;
}

.sidebar {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20em;
  padding-inline: 1.4em;
  padding-top: 5em;
  padding-bottom: 2rem;
  min-height: 35rem;
  height: 100vh;
}
.sidebar b {
  color: var(--grayblack);
}
.sidebar-background {
  background-color: var(--light-gray);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 16em;
  z-index: -1;
}
.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.header-mobile,
.section-nav-mobile {
  display: none;
}
.sidebar-button {
  display: flex;
  font-weight: 550;
  padding-block: 0.8em;
  padding-inline: 1em;
  border-radius: 1em;
  text-align: left;
}
.ativo {
  background-color: var(--purple);
  color: var(--white);
  font-weight: 600;
}
.details {
  margin-inline: auto;
  width: 100%;
  position: relative;
  user-select: none;
}
.summary {
  font-weight: 700;
  font-size: 1.5em;
  color: var(--purple);
  padding-bottom: 1em;
  cursor: pointer;
}
.wrapper-faq {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-out;
}
.wrapper-faq .colapse {
  overflow: hidden;
}
.open_faq .wrapper-faq {
  grid-template-rows: 1fr;
}

.arrow_faq {
  pointer-events: none;
  aspect-ratio: 1/1;
  width: 2rem;
  position: absolute;
  right: 0;
  top: 0;
  stroke-width: 2px;
  transition: transform 0.3s;
}
.open_faq .summary {
  padding-bottom: 1.5em;
}

.open_faq .arrow_faq {
  transform: rotate(-90deg);
}

.copyright-sidebar {
  text-align: center;
  font-size: 0.9em;
  color: var(--purple);
}
.main {
  width: 100%;
  padding-block: 2rem;
  padding-inline: 1em;
}
.titulo {
  text-align: left;
  width: 100%;
}
.editar-button {
  padding-inline: 0;
  border-radius: 0.75em;
  gap: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.editar-button img {
  width: 18%;
}

.foto-edit {
  margin-block: 3%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.foto-edit p {
  font-size: 1.75em;
  font-weight: 700;
}
.edit {
  z-index: 2;
  height: 40%;
  aspect-ratio: 1 / 1;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.6em;
  background-color: var(--purple);
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover {
    background-color: var(--purplehover);
  }
}
.foto-edit-img {
  z-index: 1;
  border-radius: 100%;
}
.foto-edit-wrapper {
  position: relative;
  width: 6.5em;
  aspect-ratio: 1 / 1;
}

.form__cadastro {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4%;
}
.form__cadastro input[type="text"],
.form__cadastro input[type="date"],
.form__cadastro input[type="number"],
.form__cadastro select {
  width: 100%;
}
.form-input {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 0.35em;
  margin-bottom: 1em;
}
.form-input br {
  display: none;
}
.button-wrapper-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.button-wrapper-form button {
  width: 10rem;
}
.radio-group {
  padding: 0.5rem 0rem;
  display: flex;
  gap: 1em;
}
.radio-div {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.info-table {
  width: 100%;
  border-spacing: 0.5em;
}
.info-table th {
  text-align: left;
}
.info-table td {
  text-align: right;
}
.botao-solido,
.botao-borda,
.editar-button {
  font-size: 18px;
}
@media (min-width: 1536px) {
  .container-usuario {
    max-width: 1536px;
    width: 100%;
    margin-inline: auto;
  }
  .sidebar {
    width: 20em;
  }
  .sidebar-background {
    width: 100vw;
    left: unset;
    right: 0;
  }
}

@media (max-width: 1536px) {
  .linha-links {
    gap: 1.5rem;
  }
  .login__name {
    display: none;
  }
  .content,
  .container {
    max-width: 960px;
  }
}

@media (max-width: 1280px) {
  .content,
  .container {
    max-width: 768px;
  }
  .main {
    padding-inline: 1.5em;
  }
  .botao-solido,
  .botao-borda,
  .editar-button {
    font-size: 14px;
  }
}
/* lg */
@media (max-width: 1024px) {
  .content,
  .container {
    max-width: 550px;
  }

  .logo__header {
    height: 3em;
  }
  .linha-links {
    gap: 0.7em;
  }
  .form__cadastro {
    width: 100%;
  }
}

/* md */
@media (max-width: 768px) {
  .main {
    padding-inline: 0;
  }
  .content,
  .container {
    max-width: 640px;
    margin-inline: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .sidebar {
    display: none;
  }
  .header-pc {
    display: none;
  }
  .header-mobile {
    display: flex;
  }
  .section-nav-mobile {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2em;
  }
  .nav-mobile {
    flex-direction: row;
    font-size: 1.25em;
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
  }
  .sidebar-button {
    min-width: 48%;
  }
  .login__header,
  .logo__header {
    height: 5em;
  }
  .login__name {
    display: block;
    font-size: 1.3em;
  }
  .botao-solido,
  .botao-borda,
  .editar-button {
    font-size: 16px;
  }
}

/* sm */
@media (max-width: 640px) {
  .login__header,
  .logo__header {
    height: 6em;
  }
  .content,
  .container {
    max-width: 475px;
  }
  .login__name {
    display: none;
  }
  .form-input {
    width: 80%;
    font-size: 1.2em;
  }
  .botao-solido,
  .botao-borda,
  .editar-button {
    font-size: 18px;
  }
}

/* xs */
@media (max-width: 475px) {
  .sidebar-button {
    min-width: 100%;
  }
  .login__header,
  .logo__header {
    height: 4.5em;
  }
  .content,
  .container {
    width: 100%;
    padding-inline: 3em;
  }
  .form-input {
    width: 100%;
  }
  .botao-solido,
  .botao-borda,
  .editar-button {
    font-size: 16px;
  }
}
