.container__post {
  margin-top: 5rem;
}
.titulo {
  text-align: left;
}
.container__titulo,
.content {
  padding-inline: 23rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

p {
  text-indent: 2em;
}
small {
  color: var(--purple);
}
.img_header {
  max-width: 80%;
  margin-top: 3rem;
  margin-bottom: 5rem;
  margin-inline: auto;
}
.img {
  max-width: 100%;
  margin-top: 3em;
  margin-bottom: 5em;
}
.img > img,
.img_header > img {
  aspect-ratio: 2 / 1;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 1em;
}
.content .img {
  width: 100%;
}
.side-bar {
  border-left: 3px var(--purple) solid;
  padding-left: 1em;
}
.hr {
  width: 100%;
}
.compartilha {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.redes {
  display: flex;
  gap: 0.5em;
}
.rede {
  max-width: 36px;
  aspect-ratio: 1 / 1;
  padding: 3px;
  background-color: var(--purple);
  border-radius: 1em;
  transition: transform 0.3s;
  &:hover {
    transform: translate(0, -2px);
  }
}
.img{
  font-size: var(--size-base);
}
/* xl */
@media (max-width: 1536px) {
  .container__titulo,
  .content {
    padding-inline: 16rem;
  }
}
@media (max-width: 1280px) {
  .img{
    font-size: var(--size-sm);
  }
  .rede {
    padding: 2px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container__titulo,
  .content {
    padding-inline: 10rem;
  }
  .img{
    font-size: var(--size-xs);
  }
  .rede {
    max-width: 28px;
  }
}

/* md */
@media (max-width: 768px) {
  .container__titulo,
  .content {
    padding-inline: 6rem;
  }
}

/* sm */
@media (max-width: 640px) {
  .img_header {
    max-width: 100%;
  }
  .container__titulo,
  .content {
    padding-inline: 2rem;
  }
  .container__titulo,
  .titulo {
    text-align: center;
    align-items: center;
  }
  .compartilhar,
  .compartilha {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
  }
}

/* xs */
@media (max-width: 475px) {
  .container__titulo,
  .content {
    padding-inline: 1rem;
  }
}
